.profilePage {
    display: flex;
    margin-top: 3%;
    margin-left: 3%;
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: gray;
    margin-left: 5%;
    width: 70vw;
  }
  
  .left h1 {
    margin: 0;
  }
  
  .right{
    cursor: pointer;
  }
  .right img, .extraUserImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .right span, .extraUser {
    font-weight: 700;
    color: gray;
  }
  .hrline{
    width: 70vw;
    margin-left: 5%;
  }
  .modal-body{
    display: grid;
    justify-content: center;
    text-align: center;
  }
  
  
  
  