
<div class="sidebar">
    <div class="centered-links">
      <a routerLink="/profile" routerLinkActive="active">Profile <span class="active-icon" *ngIf="isActive('/profile')">&gt;</span></a>
      <hr>
      <a routerLink="/posts" routerLinkActive="active">Posts <span class="active-icon" *ngIf="isActive('/posts')">&gt;</span></a>
      <hr>
      <a routerLink="/gallery" routerLinkActive="active">Gallery <span class="active-icon" *ngIf="isActive('/gallery')">&gt;</span></a>
      <hr>
      <a routerLink="/todo" routerLinkActive="active">ToDo <span class="active-icon" *ngIf="isActive('/todo')">&gt;</span></a>
    </div>
  </div>
  
  