.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #3c57c8;
    color: white;
    margin-top: 2%;
    margin-left: 3%;
    border-radius: 30px;
  }
  
  .centered-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  .centered-links a {
    text-align: left;
    margin-left: 50px;
    color: #a7a4e4;
    text-decoration: none;
    font-weight: 600;
  }
  .centered-links a.active{
    color: white;
  }
  .active-icon{
    background-color: white;
    border-top-left-radius: 30px;
    color: gray;
    font-weight: 700;
    border-bottom-left-radius: 30px;
    padding-left: 10px;
    background-color: white;
    float: right;
    width: 25px;
    height: 25px;
  }

  hr{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px;
  }
  